{% extends "base_bs4.html" %}
{% block custom-styles %}
   <style>
        .border-5 {
        border-width:1px !Important;
        border-color: Black !Important;
        }
    </style>
{% endblock %}
{% block title %}
{{ category }}:  {{ filter_name }}
{% endblock %}
{% block content %}
{% include "navbar.html" %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
       <!-- <li class="breadcrumb-item"><a href="/vmon/mon">Мониторинг</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ stand }}</li> -->
    </ol>
</nav>


<h1>Название фильтра: "{{ filter_name }}" </h1>
Дата актуальности: <strong>{{ date_actual }} </strong>(сек).


<table class="table table-bordered border-5">
    <thead class="thead-dark">
    <tr>

         <th class="border-5"> Название ОСП</th>
        {% if cols.col1 %} <th class="border-5"> {{ cols.col1 }}</th> {% endif %}
        {% if cols.col2 %} <th class="border-5"> {{ cols.col2 }}</th> {% endif %}
        {% if cols.col3 %} <th class="border-5"> {{ cols.col3 }}</th> {% endif %}
        {% if cols.col4 %} <th class="border-5"> {{ cols.col4 }}</th> {% endif %}
        {% if cols.col5 %} <th class="border-5"> {{ cols.col5 }}</th> {% endif %}
        {% if cols.col6 %} <th class="border-5"> {{ cols.col6 }}</th> {% endif %}
        {% if cols.col7 %} <th class="border-5"> {{ cols.col7 }}</th> {% endif %}
        {% if cols.col8 %} <th class="border-5"> {{ cols.col8 }}</th> {% endif %}
        {% if cols.col9 %} <th class="border-5"> {{ cols.col9 }}</th> {% endif %}
        {% if cols.col10 %} <th class="border-5"> {{ cols.col10 }}</th> {% endif %}
        {% if cols.col11 %} <th class="border-5"> {{ cols.col11 }}</th> {% endif %}
        {% if cols.col12 %} <th class="border-5"> {{ cols.col12 }}</th> {% endif %}
        {% if cols.col13 %} <th class="border-5"> {{ cols.col13 }}</th> {% endif %}
        {% if cols.col14 %} <th class="border-5"> {{ cols.col14 }}</th> {% endif %}
        {% if cols.col15 %} <th class="border-5"> {{ cols.col15 }}</th> {% endif %}


    </tr>
    </thead>
    <tbody>

    {% for item in items %}
    <tr>

        <td class="border-5"> {{ item.osp }}</td>
        {% if item.col1 %} <td  class="border-5"> {{ item.col1 }}</td> {% endif %}
        {% if item.col2 %} <td  class="border-5"> {{ item.col2 }}</td> {% endif %}
        {% if item.col3 %} <td  class="border-5"> {{ item.col3 }}</td> {% endif %}
        {% if item.col4 %} <td  class="border-5"> {{ item.col4 }}</td> {% endif %}
        {% if item.col5 %} <td  class="border-5"> {{ item.col5 }}</td> {% endif %}
        {% if item.col6 %} <td class="border-5"> {{ item.col6 }}</td> {% endif %}
        {% if item.col7 %} <td  class="border-5"> {{ item.col7 }}</td> {% endif %}
        {% if item.col8 %} <td  class="border-5"> {{ item.col8 }}</td> {% endif %}
        {% if item.col9 %} <td class="border-5"> {{ item.col9 }}</td> {% endif %}
        {% if item.col10 %} <td  class="border-5"> {{ item.col10 }}</td> {% endif %}
        {% if item.col11 %} <td  class="border-5"> {{ item.col11 }}</td> {% endif %}
        {% if item.col12 %} <td  class="border-5"> {{ item.col12 }}</td> {% endif %}
        {% if item.col13 %} <td  class="border-5"> {{ item.col13 }}</td> {% endif %}
        {% if item.col14 %} <td class="border-5"> {{ item.col14 }}</td> {% endif %}
        {% if item.col15 %} <td class="border-5"> {{ item.col15 }}</td> {% endif %}



    </tr>
    {% endfor %}


    </tbody
</table>
{% endblock %}
