{% load static %}
<nav  class="navbar navbar-expand-lg navbar-dark  navbar-custom">
  <a class="navbar-brand" href="#">
     <img src="{% static 'head_left.gif' %}" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/vmon">Home <span class="sr-only">(current)</span></a>
      </li>
     <!--  <li class="nav-item ">
        <a class="nav-link" href="/vmon/mon">Монитор <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/vmon/shema" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Мониторинг
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="/vmon/mon?stand=st">СТ ФЛ</a>
          <a class="dropdown-item" href="/vmon/mon?stand=ift">ИФТ ФЛ</a>
          <a class="dropdown-item" href="/vmon/mon?stand=nt">НТ ФЛ</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/vmon/mon">Список стендов</a>
        </div>
      </li>
	   <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/vmon/shema" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Мониторинг версий
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <div class="nav-label">Карточный канал C</div>
          <a class="dropdown-item" href="/vmon/getvers?stand=st">СТ ФЛ</a>
          <a class="dropdown-item" href="/vmon/getvers?stand=ift">ИФТ ФЛ</a>
          <a class="dropdown-item disabled" href="/vmon/getvers?stand=nt">НТ ФЛ</a>
          <a class="dropdown-item" href="/vmon/getvers">Список стендов</a>
          <div class="dropdown-divider"></div>
          <div class="nav-label">Приложения Websphere</div>
          <a class="dropdown-item" href="/vmon/get_vers_was?stand=st">СТ ФЛ</a>
          <a class="dropdown-item" href="/vmon/get_vers_was?stand=ift">ИФТ ФЛ</a>
          <a class="dropdown-item" href="/vmon/get_vers_was?stand=nt">НТ ФЛ</a>
          <a class="dropdown-item disabled" href="/vmon/getvers">Список стендов</a>
         
          
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/vmon/shema" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Миграции БД
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/vmon/shema?stand=st">СТ ФЛ</a>
          <a class="dropdown-item" href="/vmon/shema?stand=ift">ИФТ ФЛ</a>
          <a class="dropdown-item" href="/vmon/shema?stand=nt">НТ ФЛ</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/vmon/shema">Список стендов</a>
        </div>
      </li>
<!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
-->
  </div>
</nav>
