{% extends "base_bs4.html" %}
{% block title %}
{{ category }}:  {{ filter_name }}
{% endblock %}
{% block content %}
{% include "navbar.html" %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="/vmon/mon">Мониторинг</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ stand }}</li>
  </ol>
</nav>


<h1>Название фильтра: "{{ filter_name }}" </h1>
Дата актуальности: <strong>{{ items.actual_date  }} </strong>(сек).





<table  class="table table">
 <thead class='thead-dark'>
 <tr>
     <th></th>

 </tr>
     </thead>
     <tbody>

 {% for item  in   items  %}
        <tr>

          <td >{{ item.short_name }}</td>

        </tr>
      {% endfor %}






   </tbody
 </table>
{% endblock %}
